header{
    text-align:center;
    padding:5px;
    box-sizing:border-box;
}
.logo{
    float:left;
    height:90%;
    width:8%;
}
.navbar{
    height:20%;
    display:inline-block;
    margin-top:0px;
    padding-bottom:8px;
}
.nav-button{
    text-decoration: none;
    font-size:12px;
    margin:2px;
}
.username{
    color:rgb(37, 150, 195);
    background-color:rgb(144, 209, 236);
    border-radius:5px;
    float:right;
    padding:6px;
    font-size:12px;
}
.section{
    height:100%;
    width:45%;
    box-sizing:border-box;
    
}
#section1{
    float:left;
    margin-left:10%;
    text-align:justify;


}
#section2{
    float:right;
    margin-right:10%;
    margin-top:5%;
    
}
.main{
    height:85vh;
    width:100vw;
    padding:40px;
    box-sizing:border-box;
    overFlow:hidden;
    
}
.button{
    margin:10px;
    margin-left:0;
    padding:5px;
    width:50%;
    border-radius:8px;
    background-color:aqua;

}
#heading{
    text-transform:capitalize;
}
#description{
    color:rgb(0,0,0,0.5);
}
#image{
    width:100%;
    height:100%;
}